body {
  background-color: black;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 46px;
  color: white;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 38px;
  font-weight: lighter;
}

h3 {
color: white;
text-align: center;
font-family: 'Roboto Mono', monospace;
font-size: 38px;
font-weight: bold;
}

h4 {
color: white;
text-align: left;
font-family: 'Roboto Mono', monospace;
font-size: 32px;
font-weight: bold;
}

p {
  color: white;
  text-align: justify;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  font-weight: normal;
  z-index: 10;
  text-decoration: none;
}

li {
  color: white;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-size: 28px;
  font-weight: lighter;
}

video {
  position: relative;
  background-position: absolute;
  object-fit: cover;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: brightness(50%);
  z-index: -1;
}

img {
  border-radius: 5px;
}

.homepage_buttons {
  width: 45%;
  height: 10%;
  font-size: 38px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.homepage_buttons:hover {
  color: grey;
  font-weight: bolder;
  font-size: 39px;
  transition-delay: 0.2s;
}

.navbar {
  background-color: Transparent;
  width: 79%;
  height: 5.6%;
  padding-right: 10%;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 2.5%;
  position:fixed;
  top: 0;
  left: 10%;
  z-index: 11;
  border-radius: 20px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  background-color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 20px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: black;
  font-family: inherit;
  margin: 0;
  text-align: center;
  border-radius: 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #e29f4b;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: Transparent;
  min-width: 160px;
  z-index: 10;
  border-radius: 20px;
}

.light-mode .dropdown-content {
    background-color: #ffdaaa;
    color: black; 
    display: none;
    position: absolute;
    background-color: Transparent;
    min-width: 160px;
    z-index: 10;
    border-radius: 20px;
}

.light-mode .dropdown-content a:hover {
  background-color: #ffdaaa;
  border-radius: 20px;
}

.light-mode .navbar  a:hover, .dropdown:hover .dropbtn {
  background-color: #e29f4b;
  border-radius: 20px;
}

.Light-mode:hover{
  background-color:#e29f4b;
}

.light-mode .Light-mode:hover{
  background-color: #ffdaaa;
}

.light-mode .dropdown:hover .dropdown-content {
  display: block;
  background-color: #d5b68e;
  color: black;
  border-radius: 20px;
}

.Light-mode {
  font-size: 16px;
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  text-align: center;
  border-radius: 20px;
}

.Light-mode a {
  padding: 0.1px;
}

.light-mode .navbar a {
  background-color: #d5b68e;
  color: black;
}

.light-mode .navbar button {
  background-color: #d5b68e;
  color: black;
}

.light-mode .navbar {
  background-color: transparent;
  color: black;
}

.light-mode .Light-mode:hover {
  background-color: #e29f4b;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e29f4b;
  background-color: grey;
  border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
  color: white;
}

.HTMLcode_parts img {
  float: right;
  margin-left: 2%;
  z-index: 0;
}

.HTML_hierarchy img {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.Getting_Started a {
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.Getting_Started img {
  float: right;
  margin-left: 5%;
  right: 0;
}

code {
  color: white;
  text-align: left;
  font-size: 24px;
  font-weight: normal;
  border-radius: 5px;
  background-color: grey;
  text-decoration: none;
}

.Headings img {
  float: right;
  margin-left: 5%;
  right: 0;
  background-color: white;
}

p a {
  font-size: 24px;
  color: greenyellow;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-decoration: none;
}

.light-mode p a {
  font-size: 24px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-decoration: none;
}

.homepage_shortcut:hover {
  opacity: 0.6;
  transition-delay: 0.2s;
}

.homepage_shortcut img{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  float: left;
  border-radius: 10px;
}


th {
  font-weight: bolder;
  font-size: 32px;
}


table {
  font-size: 24px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  width: 100%;
  background: rgb(38,38,38);
  padding: 3%;
  border: rgb(85, 84, 84) solid;
  border-collapse: collapse;
  background: linear-gradient(0deg, rgba(38,38,38,1) 6%, rgba(22,22,22,1) 36%, rgba(5,5,5,1) 62%, rgba(0,0,0,1) 72%);
  z-index: 1;
  margin-bottom: 5%;
}

input {
  width: 80%;
}

.anchor img {
  width: 100%;
  overflow: hidden;
  height: auto;
}

.div_section img {
  width: 100%;
  overflow: hidden;
  height: auto;
}

.light-mode {
  background-color: #b69b79;

}

.light-mode code {
  background-color:#7c6952;
}

.light-mode p {
  color: black;
}

.light-mode h1 {
  color: black;
}

.light-mode h2 {
  color: black;
}

.light-mode h3 {
  color: black;
}

.light-mode h4 {
  color: black;
}

.light-mode h5 {
  color: black;
}

.light-mode h6 {
  color: black;
}

.light-mode tbody {
  color: black;
}
.light-mode thead {
  color: black;
}

.light-mode table {
  font-size: 24px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  width: 100%;
  background: black;
  padding: 3%;
  border-collapse: collapse;
  background: rgb(182,155,121);
  border: black solid;
  background: linear-gradient(180deg, rgba(182,155,121,1) 6%, rgba(213,182,142,1) 36%, rgba(238,205,161,1) 62%, rgba(255,218,170,1) 72%);
  z-index: 1;
  margin-bottom: 5%;
}

.light-mode ol {
  color: black;
}

.light-mode ul {
  color: black;
}

.light-mode li {
  color: black;
}

::-webkit-scrollbar {
  width: 0;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  border-radius: 10px;
  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: animate 5s linear infinite;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05);
}

#progressbar :before, 
#progressbar :after
{
  content: '';
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  filter: blur(10px);    
}



@keyframes animate 
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}

#percent 
{
  position: fixed;
  top: 50%;
  right: 15px;
  font-size: 16px;
  transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
  font-family: 'Roboto Mono', monospace;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.light-mode #percent 
{
  color: black;
}

a {
  text-decoration: underline;
}
