html {
  background-color: #EEEBE3;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 46px;
  color: white;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 38px;
  font-weight: lighter;
}

video {
  position: relative;
  background-position: absolute;
  object-fit: cover;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: brightness(50%);
}

button {
  width: 40%;
  height: 10%;
  font-size: 38px;
  border-color: white;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  animation-delay: 2s;
  animation-duration: 5s;
}

@keyframes buttons {
  0% {opacity: 0.1}
  50% {opacity: 0.5}
  100% {opacity: 1}
}
